  /*
  .post {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    background-color: #363635;
  }
  */
  .post {
    background-color: #343a40; /* Assuming 'jet' refers to a dark grey/black color */
    color: #adff2f; /* Assuming 'green-yellow' refers to a shade like 'GreenYellow' */
    border-radius: 1rem; /* Assuming '2' is 0.25rem in bootstrap-like classes */
    /* font-family: 'YourSecondaryFontFamily', sans-serif;  Replace with actual secondary font */
    margin-bottom: 0.5rem; /* Bootstrap's mb-2 class is typically 0.5rem */
    padding: 1rem; /* Bootstrap's p-3 class is typically 1rem */
}
  
  .post-title {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Need to do more font stuff */
    margin-bottom: 10px;
    margin-right: 10px;
    color: #adff2f;
  }

  .post-author {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Need to do more font stuff */
    /* margin-bottom: 10px; */
    color: #adff2f;
  }

  .post-field {
    background-color: #888888 !important;
    color: #B0FE76 !important;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .post-body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: #adff2f;
  }

  .post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .reply-button,
  .like-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #8faf96;
  }
  
  .reply-button:hover,
  .like-button:hover {
    text-decoration: underline;
  }

  
  .feed {
    display: flex;
    flex-direction: column;
    background-color: #595A4A;
  }

  .feed-selector {
    display: flex;
    justify-content: center;
    
  }
  
  .tab {
    background-color: #595A4A;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab.selected {
    background-color: #8faf96; /* Same color as feed background */
    /*border-bottom: 2px solid #000000;  Optional: to highlight the selected tab */
  }
  
  .tab:not(.selected) {
    background-color: #595A4A; /* Secondary color for deselected tabs */
  }
  
  .tab:not(.selected):hover {
    background-color: #627366; /* Optional: slightly darker on hover */
  }