  /*
  .post {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    background-color: #363635;
  }
  */
  .post {
    background-color: #363635; /* Assuming 'jet' refers to a dark grey/black color */
    color: #adff2f; /* Assuming 'green-yellow' refers to a shade like 'GreenYellow' */
    border-radius: 1rem; /* Assuming '2' is 0.25rem in bootstrap-like classes */
    /* font-family: 'YourSecondaryFontFamily', sans-serif;  Replace with actual secondary font */
    margin-bottom: 0.5rem; /* Bootstrap's mb-2 class is typically 0.5rem */
    padding: 1rem; /* Bootstrap's p-3 class is typically 1rem */
  }
  
  .post-title {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Need to do more font stuff */
    margin-bottom: 3px;
    margin-right: 10px;
    color: #adff2f;
  }

  .post-author {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Need to do more font stuff */
    /* margin-bottom: 10px; */
    color: #adff2f;
  }

  .post-community {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* Need to do more font stuff */
    /* margin-bottom: 10px; */
    color: #adff2f;
  }

  .post-field {
    background-color: #888888 !important;
    color: #B0FE76 !important;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .post-body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: #adff2f;
  }

  .post-actions {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 20px;
  }
  
  .like-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #8faf96;
  }

  .reply-button {
    background-color: transparent;
    border: 3px solid #8faf96;
    margin-left: 10px;
    padding-bottom: 3px;
    font-size: 16px;
    cursor: pointer;
    color: #8faf96;
    border-radius: 1rem;
  }

  .delete-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #8faf96;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .comment-button {
    background-color: #8faf96;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 3px;
    color: #363635;
    /* Round the corners */
    border-radius: 1rem;
  }

  .comment-button:hover {
    background-color: #627366;
  }

  .delete-button:hover {
    color: #627366;
  }
  
  .reply-button:hover,
  .like-button:hover {
    text-decoration: underline;
  }

  
  .feed {
    display: flex;
    flex-direction: column;
    background-color: #595A4A;
  }

  .feed-selector {
    display: flex;
    justify-content: center;
    
  }
  
  .tab {
    background-color: #595A4A;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab.selected {
    background-color: #8faf96; /* Same color as feed background */
    /*border-bottom: 2px solid #000000;  Optional: to highlight the selected tab */
  }
  
  .tab:not(.selected) {
    background-color: #595A4A; /* Secondary color for deselected tabs */
  }
  
  .tab:not(.selected):hover {
    background-color: #627366; /* Optional: slightly darker on hover */
  }

  .wd-elite-border {
    border: solid 3px #B0FE76;
  }

  .wd-moderator-border {
    border: solid 3px #C44900;
  }

  .wd-overseer-border {
    border: solid 3px #bf32f5;
  }

  .login 
  {
      background-color: #363635 !important; /* Assuming 'jet' refers to a dark grey/black color */
      color: #adff2f; /* Assuming 'green-yellow' refers to a shade like 'GreenYellow' */
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      margin-bottom: 0.5rem; /* Bootstrap's mb-2 class is typically 0.5rem */
      padding: 1rem; /* Bootstrap's p-3 class is typically 1rem */
      margin-left: 2rem;
  }
.login:hover
  {
      background-color: #464e55 !important; /* Assuming 'jet' refers to a dark grey/black color */
  }

  .ad {
    width: 30%;
    height: auto;
    border: 5px solid #8faf96;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }