body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.main-container {
    min-height: 100vh;
    background-color: #595A4A;
}

.wd-bg-ebony        { background-color: #595A4A !important; }
.wd-bg-jet          { background-color: #363635 !important; }
.wd-bg-green-yellow { background-color: #B0FE76 !important; }
.wd-bg-light-green  { background-color: #81E979 !important; }
.wd-bg-camb-blue    { background-color: #8FBB99 !important;}
.wd-bg-mahogany     { background-color: #C44900 !important; }

.wd-ebony        { color: #595A4A !important; }
.wd-jet          { color: #363635 !important; } /* This is the primary color */
.wd-green-yellow { color: #B0FE76 !important; }
.wd-light-green  { color: #81E979 !important; }
.wd-camb-blue    { color: #8FBB99 !important; }
.wd-mahogany     { color: #C44900 !important; }

.wd-welcome-font {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15ex;
}

.wd-primary-font {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
}

.wd-secondary-font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wd-default-card {
    background-color: #363635;
    color: #B0FE76;
    border: solid 1px #363635;
    border-radius: 6px;
}

.wd-hor-divider {
    height: 2px;
    background-color: #81E979;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wd-vert-divider {
    width: 2px;
    background-color: #81E979;
    margin-left: 5px;
    margin-right: 5px;
}

.wd-primary-btn {
    background-color: #68d060;
    border: solid 1px #363635;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wd-primary-btn-on-hover:hover {
    background-color: #5aa255;
}

.wd-secondary-btn {
    background-color: #7ba285;
    border: solid 1px #363635;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wd-secondary-btn-on-hover:hover {
    background-color: #6b8c72;
}

.wd-btn-secondary {
  --bs-btn-color: #363635 !important;
  --bs-btn-bg: #8faf96 !important;
  --bs-btn-border-color: #363635 !important;
  --bs-btn-hover-color: #fff !important; 
  border-width: 2px !important;
}

.wd-color-on-hover:hover {
    color: #B0FE76;
}

.wd-jet-border {
    border: solid 2px #363635;
}

.wd-green-yellow-bot-border {
    border-bottom: solid 1px #B0FE76;
}

.wd-input-field-format {
    background-color: #a5b4a7 !important;
    color: #363635 !important;
    border: solid 1px #363635 !important;
  }
