.bg-primary {
    background-color: #363635 !important;
}

.bg-secondary {
    background-color: #595A4A !important;
}

.bg-gyellow {
    background-color: #B0FE76 !important;
}

.bg-lgreen {
    background-color: #81E979 !important;
}

.bg-cblue {
    background-color: #8faf96 !important;
}

.text-primary {
    color: #363635 !important;
}

.text-secondary {
    color: #595A4A !important;
}

.text-gyellow {
    color: #B0FE76 !important;
}

.text-lgreen {
    color: #81E979 !important;
}

.text-cblue {
    color: #8faf96 !important;
}

html body {
    background-color: #595A4A;
}

body {
    background-color: #595A4A;
}

.btn-secondary {
    --bs-btn-color: #363635 !important;
    --bs-btn-bg: #8faf96 !important;
    --bs-btn-border-color: #363635 !important;
    --bs-btn-hover-color: #fff !important; 
    border-width: 2px !important;
}

/*
.community-header {
    background-color: #363635;
    color: #81E979;
    padding: 10px;
}

.banner {
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/